In [13]:
#example1
employee1 = ['Ali', 125000, 'Google', 5]
employee1 [0]

'Ali'

In [14]:
employee1 [1]

125000

In [15]:
employee1 [2]

'Google'

In [16]:
employee1 [3]

5

In [21]:
m = employee1[0] + ' is working in ' + employee1[2] + ' For ' + str(employee1[3]) + ' years and his salary is ' 
    + str(employee1[1])
print(m)

Ali is working in Google For 5 years and his salary is 125000

In [43]:
#example2
student = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,
           '28 Januray 2020', '05 February 2020']

a = 'Hello ' + student[0] + ' ' + student[1] + ',' + '\n'+ 'Your application is accepted for admission in ' + '"' + student[4] + ' ' + student[3] + '"' + ' in ' + student[2] + '.' + '\n' + 'You have to submit fee ' + str(student[5]) + ' before ' + str(student[6]) + '.' +'\n' + 'Your Classes will start from ' + str(student[7]) + '.' + '\n' + 'Thanks'      


print (a)

Hello Ahmed Bilal,
Your application is accepted for admission in "BS Computer Science" in Government College University.
You have to submit fee 50000 before 28 Januray 2020.
Your Classes will start from 05 February 2020.
Thanks

In [56]:
#positive slicing

cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]
cities  [0 : 4]

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']

In [57]:
cities [2:6]

['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']

In [59]:
cities [5 :]

['Sahiwal', 'Rawalpindi', 'Sialkot']

In [62]:
#negative slicing
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]
cities [-4 : -1]

['Quetta', 'Sahiwal', 'Rawalpindi']

In [64]:
cities [-5 : ]

['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

In [92]:
#update lists
student = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
student [0] = "Zohaib Ali" 
student [4] = 7
print(student)

['Zohaib Ali', 22, 91.24, 'Computer Science', 7, 'University of Agriculture']

In [82]:
#using append
student = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
student.append('20 February 2019')
print (student)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019']

In [84]:
#using insert
student = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
student.insert(4,'25000')
print(student)

['Ali Raza', 22, 91.24, 'Computer Science', '25000', 5, 'University of Agriculture']

In [90]:
student = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
student.insert(1,'M. Iqbal')
print(student)

['Ali Raza', 'M. Iqbal', 22, 91.24, 'Computer Science', 5, 'University of Agriculture']

In [95]:
# using remove
student = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
student.remove('Computer Science')
student.remove(91.24)
print(student)

['Ali Raza', 22, 5, 'University of Agriculture']

In [96]:
#using pop
student = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
student.pop(5)
student.pop(3)
print(student)

['Ali Raza', 22, 91.24, 5]

In [463]:
#multidimensional list tasks
employees= [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]
#Forloop
total_salary = 0
for item in employees:
    total_salary +=item [1]
print(total_salary)

213000

In [522]:
employees = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]



names = 0
for i in employees : 
    salary = i[1]
    if salary >= 50000:
        salary = i[0]
        names = i[1]
        print (salary,names)

Talha 55000
Nasir 79000

In [492]:
#Change Salary
employees= [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
                ["Khalid", 44000, "DBA"]]
employees [2] [1] = 90000
employees [2] [2] = "designation"
print(employees)

[['Ali', 35000, 'Software Engineer'], ['Talha', 55000, 'Product Manager'], ['Nasir', 90000, 'designation'], ['Khalid', 44000, 'DBA']]

In [341]:
#change salary of Khalid to 50000
employees [3] [1] = 50000
print(employees)

[['Ali', 35000, 'Software Engineer'], ['Talha', 55000, 'Product Manager'], ['Nasir', 90000, 'designation'], ['Khalid', 50000, 'DBA']]

In [371]:
#Login User
# Data 1
username = "faizan1214"
password = "qwerty"
emailVerified = "Falsee"
# Data 2
username = "faizan1214"
password = "qwerty"
emailVerified = True


if username == "faizan1214":
    if password == "qwerty":
        if emailVerified == "Falsee":
            print("login successfull")
            print("Redirecting")
            print("login Succeed")
        else: 
            print("email is verified")
    else: 
        print ("Invalid username")
else:
     print("wrong password")

login successfull
Redirecting
login Succeed

In [386]:
# Data 1
username = "faizan1214"
password = "qwerty"
emailVerified = False

# Data 2
username = "faizan1214"
password = "qwerty"
emailVerified = "Truee"

if username == "faizan121" :
    if password == "qwert" :
        if emailVerified == "Truee":
            print("login successfull")
            print("Redirecting")
            print("login Succeed")
        else: 
            print("email is not verified")
else: 
    print ("Incorrect login details")

Incorrect login details